/* ---------------------------------- */
/* --- ENGAGEMENT SECTION --- */
/* ---------------------------------- */
.CardsPlansSections{
    display: flex;
flex-direction: column;
    align-items: center;
}
.commitmentsSection{
    margin-top: -2rem;
    padding-top : 4rem;
    padding-bottom : 4rem;
    background-color: #DAEEE6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commitmentCards{
    display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 3rem 0 3rem;
}



.commitment-card{
    flex: 1 1 280px;
    display:flex;
    flex-direction: column;
align-content: center;
justify-content: center;
background-color: white;
border-radius: 25px;
max-width: 400px;
align-items: center;
justify-content: center;
 
}

.commitment-icon{
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: 1.5rem;
 
}

.icon-large{
        width: 70px;
        height: 70px;
        
}
.commitment-description{
    text-align: center;
    margin: 0 1rem 2rem 1rem;
}
.commitment-card h3{
    font-size: 1.5rem;
    margin-top: 1rem;
}
@media screen and (max-width: 703px) {
    .commitmentCards{
        align-items: center;
        justify-content: center;
    }
}