.functionality-card{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 450px;
    max-height: 200px;
}
.firstCard{
    box-shadow: #FFD88C  0px 2px 8px;

}
.secondCard{
        box-shadow: #6EC1E4 0px 2px 8px;

}
.thirdCard{
    box-shadow: #FF8C94 0px 2px 8px;

}

.functionalityCardsSection .Button.Blue{
padding: 0.5rem 8rem;
margin-top: 1rem;
}

.functionality-number{
    font-size: 2rem;
      text-align: center;
      justify-content: center;
      display: flex;
        margin: 0 auto;
}

.functionality-description{
    text-align: center;
}

.functionalityCardsContainer{
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    margin: 2rem;
    align-items: center;
}

/* Styles pour les flèches */
.arrow {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.arrow-top {
    align-self: start;
    margin-top: -4rem;
    color: #FFD88C;
    
}

.arrow-bottom {
    align-self: end;
    margin-bottom: -4rem;
    transform: scaleY(-1);
    color: #6EC1E4;
}

/* Responsive */
@media (max-width: 1024px) {
    .functionalityCardsContainer {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .functionalityCardsSection .Button.Blue{
padding: 0.5rem 5rem;
}
    .arrow {
        display: none;
    }
    @media (max-width: 768px) {
    .functionalityCardsSection .Button.Blue{
padding: 0.5rem 1rem;
}
    }
}