/* --- Styles de base (Desktop) --- */
.Container {
    width: 100%;
    margin-top: 100px;
   
}
.homePageSubTitle{ 
    font-size: 2.5rem; 
    color: #FFFFFF ;
    font-weight: 800; 
    text-transform: uppercase; 
    position: relative;
    display: inline-block; 
    margin-bottom: 3.5rem; 
    padding: 0.5em 1em;
    z-index: 1; 
    transition: transform 0.2s ease-out; 

}

.homePageSubTitle:before {
content: '';
    background-color: #FF8C94;
   transform: skewX(-5deg);
    border-radius: 20px;
     position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 10px 26px rgba(94, 204, 238, 0.9);

}
.sectionSub{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SubChoiceSection{
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.subHomePage{ 
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.homePageSubTitle.biblio-jouets:hover {
    transform: translate(-3px, -3px);
}

.homePageSubTitle.biblio-jouets:hover::after {
    top: 3px; 
    left: 3px; 
    right: -3px;
    bottom: -3px;
}



.bg-green-homepage{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: #DAEEE6;

}
/* ---------------------------------- */
/* --- FORM SECTION --- */
/* ---------------------------------- */
.formHomePageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FormTextContent{
    display: grid;
    width: 100%;
    max-width: 1440px;;
    margin: 0 auto;
    padding: 3rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;  
}
.formHomePage{
    display: flex;
    width: 100%;
    justify-content: center;
}


.functionalityCardsSection{
    margin-top: 80px;
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8rem;
}

.seePlansButton{
    padding-left: 45px;
}
/* ---------------------------------- */
/* --- RESPONSIVE (MOBILE) --- */
/* ---------------------------------- */
@media screen and (max-width: 1024px) {
.Container {
    width: 100%;
    margin-top: 60px;
   
}
.homePageSubTitle{
    font-size: 2rem;
}
}

@media screen and (max-width: 768px) {
    .FormTextContent{
        grid-template-columns: 1fr;
    }
  


   .homePageSubTitle{ 
    font-size: 1.6rem;
   margin-bottom: 3.5rem; 
    margin: 0rem 1rem 3.5rem 1rem;
   } 



.homePageSubTitle.biblio-jouets:hover {
    transform: translate(-3px, -3px);
}

.homePageSubTitle.biblio-jouets:hover::after {
    top: 3px; 
    left: 3px; 
    right: -3px;
    bottom: -3px;
}
}


